html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.Background_achievement {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:0;
}



.AchievementContainer {
    width:100%;
    background-color: #ffffff;
    background-image:  radial-gradient(#f9cb4054 1.75px, transparent 1.75px), radial-gradient(#f9cb4054 1.75px, #ffffff 1.75px);
    background-size: 70px 70px;
    background-position: 0 0,35px 35px;

    .TopBar{
        margin-bottom:20px;
    }
}


.AchievementBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom:20px;
    
    .TopCards {
        width:90%;
        margin-bottom:20px;
    }
}
    .SeeMore {
        width: 90%;
        height: 3vh;
        display: flex;
        justify-content: flex-end;

    }

.InnerMemories {
    display: flex;
    overflow: scroll;
}