@font-face {
  font-family: 'Poppins', sans-serif;
  font-family: 'Mukta Mahee', Sans-serif;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #fff 25%, transparent 25%) -50px 0, linear-gradient(225deg, #fff 25%, transparent 25%) -50px 0, linear-gradient(315deg, #fff 25%, transparent 25%), linear-gradient(45deg, #fff 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #F9CB40;
}

@-webkit-keyframes lotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.center_content {
  -webkit-animation: lotate 2s infinite;
          animation: lotate 2s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes logocolor {
  50% {
    -webkit-filter: invert(58%) sepia(72%) saturate(2337%) hue-rotate(324deg) brightness(104%) contrast(101%);
            filter: invert(58%) sepia(72%) saturate(2337%) hue-rotate(324deg) brightness(104%) contrast(101%);
  }
  100% {
    -webkit-filter: invert(22%) sepia(79%) saturate(2704%) hue-rotate(223deg) brightness(96%) contrast(87%);
            filter: invert(22%) sepia(79%) saturate(2704%) hue-rotate(223deg) brightness(96%) contrast(87%);
  }
}

@keyframes logocolor {
  50% {
    -webkit-filter: invert(58%) sepia(72%) saturate(2337%) hue-rotate(324deg) brightness(104%) contrast(101%);
            filter: invert(58%) sepia(72%) saturate(2337%) hue-rotate(324deg) brightness(104%) contrast(101%);
  }
  100% {
    -webkit-filter: invert(22%) sepia(79%) saturate(2704%) hue-rotate(223deg) brightness(96%) contrast(87%);
            filter: invert(22%) sepia(79%) saturate(2704%) hue-rotate(223deg) brightness(96%) contrast(87%);
  }
}

.logo {
  -webkit-animation: logocolor 1s infinite;
          animation: logocolor 1s infinite;
  -webkit-animation-timing-function: steps(1, start);
          animation-timing-function: steps(1, start);
  -webkit-filter: invert(58%) sepia(72%) saturate(2337%) hue-rotate(324deg) brightness(104%) contrast(101%);
          filter: invert(58%) sepia(72%) saturate(2337%) hue-rotate(324deg) brightness(104%) contrast(101%);
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

.Background {
  width: 100%;
  min-width: 100%;
  max-width: 412px;
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: radial-gradient(#f9cb4054 1.75px, transparent 1.75px), radial-gradient(#f9cb4054 1.75px, #ffffff 1.75px);
  background-size: 70px 70px;
  background-position: 0 0,35px 35px;
}

.TopBar {
  font-weight: bold;
}

.TrainingSection, .Recent-activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.TrainingCards {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: auto;
}

.ActivityCards {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: auto;
}

.Resourece-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

.LoginContainer {
  background-color: #F9CB40;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.LoginSection {
  -webkit-box-flex: 3.5;
      -ms-flex: 3.5;
          flex: 3.5;
}

.stackedlogo {
  margin-bottom: 10px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

.SignupContainer {
  background-color: #F9CB40;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.SignupSection {
  -webkit-box-flex: 3.5;
      -ms-flex: 3.5;
          flex: 3.5;
}

.stackedlogo {
  margin-bottom: 10px;
}

.TrainingContainer {
  width: 100vw;
  height: 100vh;
}

.TrainingContainer .TopBar {
  margin-bottom: 20px;
}

.TrainingCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DaysSection {
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.DayCards {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.FinalDay {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.InfoSection {
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.QuizButton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5%;
}

.ResourceSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Mukta Mahee', Sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SettingsSection {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.DogSettings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20%;
  font-family: 'Poppins', sans-serif;
}

.DualInput {
  overflow: hidden;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poppins', sans-serif;
}

.SingleInput {
  margin: 5%;
}
/*# sourceMappingURL=app.css.map */