body {
    padding:0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}

.Background {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.TopBar {
    font-weight: bold;
}

.TrainingSection, .Recent-activity {
    display:flex;
    flex-direction: column;
}

.TrainingCards {
    display: flex; 
    flex-direction: row;
    overflow: auto;
}

.ActivityCards {
    margin-left:10px;
    display: flex; 
    flex-direction: row;
    overflow: auto;
}

.Resourece-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:20px;
}

