body {
    padding:0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;

}

.Background {
    width: 100%;
    min-width:100%;
    max-width:412px;
    height: 100%;
    min-height:100vh;
    overflow: auto;
    background-color: #ffffff;
    background-image:  radial-gradient(#f9cb4054 1.75px, transparent 1.75px), radial-gradient(#f9cb4054 1.75px, #ffffff 1.75px);
    background-size: 70px 70px;
    background-position: 0 0,35px 35px;
    display:flex;
    flex-direction: column;
}

.TopBar {
    font-weight: bold;
    width:100%;
}

.TrainingSection, .Recent-activity, .Resourece-section {
    display:flex;
    flex-direction: column;
    margin-bottom:10px;

}

.TrainingCards {
    margin-left:10px;
    display: flex; 
    flex-direction: row;
    overflow: auto;
}

.ActivityCards {
    margin-left:10px;
    display: flex; 
    flex-direction: row;
    overflow: auto;
}

.resource-box {
    width:100%;
    display:flex;
    justify-content: center;
}