body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.SignupContainer {
    background-color: #F9CB40;
    width: 100vw;;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Header {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

.SignupSection {
    flex:3.5;
}

.stackedlogo{
    margin-bottom:10px;
}
