.TrainingContainer {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    background-image:  radial-gradient(#f9cb4054 1.75px, transparent 1.75px), radial-gradient(#f9cb4054 1.75px, #ffffff 1.75px);
    background-size: 70px 70px;
    background-position: 0 0,35px 35px;

    .TopBar{
        margin-bottom:20px;
    }
}

.TrainingCard {
    display:flex;
    flex-direction: column;
    align-items: center;
}
