.InfoWrapper {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.InfoSection {
    display:flex;
    flex-direction: column;
    width: 90%;
}


.TipBtn {
    display:flex;
    justify-content: flex-end !important;   
}

.QuizBox {
    position: relative;
    width:90%;
    height:100%;
    z-index:99;
}


.TipBox {
    position: relative;
    width:90%;
    height:100%;
}

.trainingDesc {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin:auto;
}

.QuizButton {
    justify-content: center;
    align-items: center;
    display: flex;
    margin:20px;
}