.title {
    font-size: 14px;
    font-weight: 500;
    color: grey;
    font-family: 'Roboto', sans-serif;
}

.inputbox{
    width: 384px;
    height: 45px;
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid lightgray;
}